<head>
    <title>OAuth Manager</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/login.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>
<form id="login_form">
<div class="site">
    <div class="credentials_panel">
        <div class="title_panel">
            <span>OAuth Manager</span>
        </div>
            <div class="username_panel">
                <img src="/img/user.png">
                <input id="username" name="username" class="username_input" type="text" placeholder="Username"
                       onblur="this.placeholder='Username'" onfocus="this.placeholder = ''" spellcheck="false"></input>
            </div>
            <div class="password_panel">
                <img src="/img/password.png">
                <input id="password" name="password" class="password_input" type="password" placeholder="Password"
                       onblur="this.placeholder='Password'" onfocus="this.placeholder = ''" spellcheck="false"></input>
            </div>
            <div class="login_panel">
                <button form="login_form" type="submit"class="login_button">Login</button>
            </div>

    </div>

</div>

</form>
</body>
</html>
<script src="/js/script.js"></script>
