html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    overflow-x: hidden;
}

span:hover {
    cursor: pointer;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
    font-weight: bold;
    font-size: 14px;
}

li a {
    display: block;
    color: #000;
    padding: 20px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #FFFFFF;
    color: #464646;
    text-decoration:  none;

}
.site {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 55px 1fr;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #DDDDDD;
}

.header {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr;
    height: 55px;
    width: 100%;
    background-color: #006748;
    color: #fff;
}

.title_panel {
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 200px;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.title_panel img {
    display: flex;
    height: 20px;
    margin-right: 10px;
}

.search_bar_panel {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.search_bar {
    display: flex;
    align-items: center;
    background-color: #0D7C5A;
    border-radius: 2px;
    width: 100%;
    height: 65%;
    margin: 10px 10px 10px 10px;
}

.search_bar:hover {
    background-color: #249170;
}

.search_bar input {
    border: none;
    background: transparent;
    color: #fff;
    margin-left: 12px;
    padding: 0;
    border-radius: 0;
    transition: border 0.4s;
    width: 100%;
}

.search_bar img {
    margin-left: 20px;
    height: 25px;
    width: auto;
}

.search_bar img:hover {
    cursor: pointer;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #F0FDF9;
}

.user_panel {
    letter-spacing: 0.1em;
    margin-right: 10px;
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_panel img {
    margin-left: 8px;
    height: 30px;
    width: auto;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
    padding-left: 220px;

}
.main_toggled{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
    padding-left: 0px;

}
.sub_main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60px 1fr;
    background-color: #DDDDDD;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 10px;

}
.sub_main_toggled {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60px 1fr;
    background-color: #DDDDDD;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.nav_bar {
    background-color: #F3F3F3;
    width: 220px;
    height: 100%;
    transition: 0.3s all;
    position: fixed;
    top: 55px;
}
.nav_bar_menu img{
    height: 20px;
    margin-right: 10px;
}
.sub_main_header_area {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
    padding-left: 25px;
    font-weight: bold;
    font-size: 16px;
    color: #EE5223;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    background-color: transparent;
    Text-Shadow: 0 0 0 rgba(255, 255, 255, 1);

}

.sub_main_table_area {
    padding: 0;
    width: 100%;
    height: 100%;
}

.table_container {
    width: 100%;
    height: 100%;
}

table {
    width: 90%;
    overflow: scroll;
    font-family: 'Roboto', sans-serif;
    color: #666;
    font-size: 14px;
    text-shadow: 1px 1px 0px #fff;
    background: #eaebec;
    border-radius: 3px;
    box-shadow: 0 1px 2px #d1d1d1;
}

table th {
    padding: 20px;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #e0e0e0;
    background: #F3F3F3;
}

table tr {
    text-align: left;
    padding-left: 20px;
}

table td {
    padding: 20px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    background: #fff;
}

table tr:hover td {
    background: #f2f2f2;
}

table button {
    box-shadow: 0 1px 2px #d1d1d1;
    margin: 2px;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 2px;
}

#edit {
    background-color: white;
}

#delete {
    color: white;
    background-color: #D46A6A;
}

.nowrap {
    white-space: nowrap;

}
