html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.site {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #0D7C5A;
}

.credentials_panel {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80px 1fr 1fr 80px;
  align-items: center;
  justify-content: center;
  height: 260px;
  width: 280px;
  background-color: #0D7C5A;
  border-radius: 2px;
}
.login_panel {
  padding: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_panel button {
  padding: 5px;
  background-color: white;
  color: #0D7C5A;
  width: 60%;
  border-radius: 2px;
  outline: none;
  border: none;
}

.username_panel, .password_panel {
  color: transparent;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}
.username_panel {
  border-bottom: 1px solid rgba(199, 240, 227, 0.3);
  border-left: 1px solid rgba(199, 240, 227, 0.3);
  border-right: 1px solid rgba(199, 240, 227, 0.3);
  border-top: 1px solid rgba(199, 240, 227, 0.3);

  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.password_panel {
  border-bottom: 1px solid rgba(199, 240, 227, 0.3);
  border-left: 1px solid rgba(199, 240, 227, 0.3);
  border-right: 1px solid rgba(199, 240, 227, 0.3);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.username_panel input, .password_panel input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  margin-left: 15px;
}

.username_panel img, .password_panel img {
  height: 22px;
  margin-left: 15px;
}
input::placeholder {
  color: rgba(199, 240, 227, 0.7);
}
.title_panel {
  color: #fff;
  font-weight: bolder;
  font-size: 16px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
}
